<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{/layout/head :: head}"></head>

    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header th:replace="~{/layout/header :: header}"></header>
            
            <div th:replace="~{/layout/vertical-menu :: vertical-menu}"></div>
            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
								
								<div th:replace="~{/components/titulo-pagina :: titulo('Clientes') }"></div>

								<div class="row">
									<h1>[[${mensagem}]]</h1>
								</div>
															
                            </div>
                        </div>
                        <!-- end page title -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

              <footer th:replace="~{/layout/rodape :: footer}"></footer>  
                  
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

		<div th:replace="~{/layout/right-bar :: right-bar}"></div>

		<!-- <div th:replace="~{/layout/scripts}"></div> -->
		
		<div th:block th:include="~{/layout/scripts :: scripts}"></div> 

    </body>
</html>
